#wrapper #menus .header-menus{
    padding: 30px 20px 1px;
}
#wrapper #menus .content{
    padding: 0px 4.16667%;
}

#wrapper #menus .content .menu_content{
     padding: 0px 48px 30px;
}

#wrapper #menus .header-menus .bc_menus{
    margin:0;
}