.about {
    .x-main.full {
        box-sizing: border-box;
        color: rgb(102, 102, 102);
        display: block;
        float: none;
        font-family: Lato, sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: 23.8px;
        position: relative;
        width: 100%;
        article {
            box-sizing: border-box;
            color: rgb(102, 102, 102);
            display: block;
            font-family: Lato, sans-serif;
            font-size: 14px;
            font-style: normal;
            font-weight: 300;
            line-height: 23.8px;
            margin-top: 0px;
            div.entry-content.content {
                box-sizing: border-box;
                color: rgb(102, 102, 102);
                display: block;
                font-family: Lato, sans-serif;
                font-size: 18px;
                font-style: normal;
                font-weight: 300;
                line-height: 30.6px;
                margin-top: 0px;
                #x-section-1 {
                    background-color: rgba(0, 0, 0, 0);
                    background-image: url(../images/bg-sushi.jpg);
                    background-position: 50% 50%;
                    background-repeat: no-repeat;
                    background-size: cover;
                    box-sizing: border-box;
                    color: rgb(102, 102, 102);
                    display: block;
                    font-family: Lato, sans-serif;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: 30.6px;
                    margin: 0px 0px 0px 0px;
                    padding: 10% 10% 10% 10%;
                    overflow: auto;
                    div.x-container {
                        box-sizing: border-box;
                        color: rgb(102, 102, 102);
                        display: block;
                        font-family: Lato, sans-serif;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 300;
                        line-height: 30.6px;
                        margin: 0px auto 0px auto;
                        padding: 0px 0px 0px 0px;
                        position: relative;
                        div.x-column.x-sm.x-1-1 {
                            box-sizing: border-box;
                            color: rgb(102, 102, 102);
                            display: block;
                            float: left;
                            font-family: Lato, sans-serif;
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 300;
                            line-height: 30.6px;
                            margin-right: 0px;
                            padding-bottom: 0px;
                            padding-left: 0px;
                            padding-right: 0px;
                            padding-top: 0px;
                            position: relative;
                            width: 100%;
                            h2 {
                                box-sizing: border-box;
                                color: rgb(255, 255, 255);
                                display: block;
                                font-family: Quicksand, sans-serif;
                                font-size: 51.426px;
                                font-style: normal;
                                font-weight: normal;
                                letter-spacing: -1.79991px;
                                line-height: 56.5686px;
                                margin-bottom: 0px;
                                margin-left: 0px;
                                margin-right: 0px;
                                margin-top: 0px;
                                text-rendering: optimizeLegibility;
                                span {
                                    box-sizing: border-box;
                                    color: rgb(255, 255, 255);
                                    display: inline;
                                    font-family: Quicksand, sans-serif;
                                    font-size: 51.426px;
                                    font-style: normal;
                                    font-weight: normal;
                                    height: auto;
                                    letter-spacing: -1.79991px;
                                    line-height: 56.5686px;
                                }
                            }
                        }
                    }
                }
                #x-section-2 {
                    background-color: rgba(0, 0, 0, 0);
                    border-bottom-color: rgb(21, 21, 21);
                    border-bottom-style: solid;
                    border-bottom-width: 0px;
                    border-left-color: rgb(21, 21, 21);
                    border-left-style: solid;
                    border-left-width: 0px;
                    border-right-color: rgb(21, 21, 21);
                    border-right-style: solid;
                    border-right-width: 0px;
                    border-top-color: rgb(21, 21, 21);
                    border-top-style: solid;
                    border-top-width: 1px;
                    box-sizing: border-box;
                    color: rgb(102, 102, 102);
                    display: block;
                    font-family: Lato, sans-serif;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: 30.6px;
                    margin: 0px 0px 0px 0px;
                    padding: 10% 10% 0% 10%;
                    background-position: 50%;
                    background-size: cover;
                    overflow: auto;
                    div.x-container {
                        box-sizing: border-box;
                        color: rgb(102, 102, 102);
                        display: block;
                        font-family: Lato, sans-serif;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 300;
                        line-height: 30.6px;
                        margin-bottom: 0px;
                        margin-left: 0px;
                        margin-right: 0px;
                        margin-top: 0px;
                        padding-bottom: 0px;
                        padding-left: 0px;
                        padding-right: 0px;
                        padding-top: 0px;
                        position: relative;
                        div.x-column.x-sm.x-1-1 {
                            box-sizing: border-box;
                            color: rgb(102, 102, 102);
                            display: block;
                            float: left;
                            font-family: Lato, sans-serif;
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 300;
                            line-height: 30.6px;
                            margin-right: 0px;
                            padding-bottom: 0px;
                            padding-left: 0px;
                            padding-right: 0px;
                            padding-top: 0px;
                            position: relative;
                            width: 100%;
                            h2 {
                                box-sizing: border-box;
                                color: rgb(255, 255, 255);
                                display: block;
                                font-family: Quicksand, sans-serif;
                                font-size: 41.13px;
                                font-style: normal;
                                font-weight: normal;
                                letter-spacing: -1.43955px;
                                line-height: 45.243px;
                                margin-bottom: 0px;
                                margin-left: 0px;
                                margin-right: 0px;
                                margin-top: 0px;
                                overflow-x: hidden;
                                overflow-y: hidden;
                                text-rendering: optimizeLegibility;
                                span {
                                    box-sizing: border-box;
                                    color: rgb(255, 255, 255);
                                    display: inline-block;
                                    font-family: Quicksand, sans-serif;
                                    font-size: 41.13px;
                                    font-style: normal;
                                    font-weight: normal;
                                    letter-spacing: -1.43955px;
                                    line-height: 45.243px;
                                    padding-bottom: 2px;
                                    position: relative;
                                }
                                span:after {
                                    content: "";
                                    position: absolute;
                                    top: 50%;
                                    height: 3px;
                                    width: 9999px;
                                    display: block;
                                    margin-top: -2px;
                                    border-top: 1px solid #0f0f0f;
                                    border-bottom: 1px solid #0f0f0f;
                                    left: 100%;
                                    margin-left: 0.5em;
                                    border-bottom-color: rgba(255, 255, 255, 0.15);
                                    border-top-color: rgba(255, 255, 255, 0.15);
                                }
                            }
                            div.x-raw-content.mts.mbl {
                                box-sizing: border-box;
                                color: rgb(102, 102, 102);
                                display: block;
                                font-family: Lato, sans-serif;
                                font-size: 18px;
                                font-style: normal;
                                font-weight: 300;
                                line-height: 30.6px;
                                margin-bottom: 36px;
                                margin-top: 9px;
                                p.man {
                                    box-sizing: border-box;
                                    color: rgb(102, 102, 102);
                                    display: block;
                                    font-family: Lato, sans-serif;
                                    font-size: 18px;
                                    font-style: normal;
                                    font-weight: 300;
                                    line-height: 30.6px;
                                    margin-bottom: 0px;
                                    margin-left: 0px;
                                    margin-right: 0px;
                                    margin-top: 0px;
                                }
                            }
                            ul.x-block-grid.mbn.two-up {
                                box-sizing: border-box;
                                color: rgb(102, 102, 102);
                                display: block;
                                font-family: Lato, sans-serif;
                                font-size: 18px;
                                font-style: normal;
                                font-weight: 300;
                                line-height: 30.6px;
                                list-style-image: none;
                                list-style-position: outside;
                                list-style-type: disc;
                                margin: -5% -5% 1.313em 0;
                                overflow-x: hidden;
                                overflow-y: hidden;
                                padding-bottom: 0px;
                                padding-left: 0px;
                                padding-right: 0px;
                                padding-top: 0px;
                                li {
                                    box-sizing: border-box;
                                    color: rgb(102, 102, 102);
                                    display: block;
                                    float: left;
                                    font-family: Lato, sans-serif;
                                    font-size: 18px;
                                    font-style: normal;
                                    font-weight: 300;
                                    line-height: 30.6px;
                                    list-style-image: none;
                                    list-style-position: outside;
                                    list-style-type: disc;
                                    margin: 5% 5% 0 0;
                                    padding: 0;
                                    text-align: left;
                                    width: 45%;
                                    h4 {
                                        box-sizing: border-box;
                                        color: rgb(255, 255, 255);
                                        display: block;
                                        font-family: Quicksand, sans-serif;
                                        font-size: 18px;
                                        font-style: normal;
                                        font-weight: normal;
                                        letter-spacing: 0.9px;
                                        line-height: 19.8px;
                                        list-style-image: none;
                                        list-style-position: outside;
                                        list-style-type: disc;
                                        margin: 0 0 0.35em;
                                        text-align: left;
                                        text-rendering: optimizeLegibility;
                                        text-transform: uppercase;
                                    }
                                    p.man {
                                        box-sizing: border-box;
                                        color: rgb(102, 102, 102);
                                        display: block;
                                        font-family: Lato, sans-serif;
                                        font-size: 18px;
                                        font-style: normal;
                                        font-weight: 300;
                                        line-height: 30.6px;
                                        list-style-image: none;
                                        list-style-position: outside;
                                        list-style-type: disc;
                                        margin-bottom: 0px;
                                        margin-left: 0px;
                                        margin-right: 0px;
                                        margin-top: 0px;
                                        text-align: left;
                                    }
                                }
                            }
                        }
                    }
                }
                #x-section-3 {
                    background-color: rgba(0, 0, 0, 0);
                    border-bottom-color: rgb(21, 21, 21);
                    border-bottom-style: solid;
                    border-bottom-width: 0px;
                    border-left-color: rgb(21, 21, 21);
                    border-left-style: solid;
                    border-left-width: 0px;
                    border-right-color: rgb(21, 21, 21);
                    border-right-style: solid;
                    border-right-width: 0px;
                    border-top-color: rgb(21, 21, 21);
                    border-top-style: solid;
                    border-top-width: 1px;
                    box-sizing: border-box;
                    color: rgb(102, 102, 102);
                    display: block;
                    font-family: Lato, sans-serif;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: 30.6px;
                    margin: 0px 0px 0px 0px;
                    padding: 10% 10% 10% 10%;
                    overflow: auto;
                    div.x-container {
                        box-sizing: border-box;
                        color: rgb(102, 102, 102);
                        display: block;
                        font-family: Lato, sans-serif;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 300;
                        line-height: 30.6px;
                        margin-bottom: 0px;
                        margin-left: 0px;
                        margin-right: 0px;
                        margin-top: 0px;
                        padding-bottom: 0px;
                        padding-left: 0px;
                        padding-right: 0px;
                        padding-top: 0px;
                        position: relative;
                        div.x-column.x-sm.x-1-1 {
                            box-sizing: border-box;
                            color: rgb(102, 102, 102);
                            display: block;
                            float: left;
                            font-family: Lato, sans-serif;
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 300;
                            line-height: 30.6px;
                            margin-right: 0px;
                            padding: 0px 0px 0px 0px;
                            position: relative;
                            width: 100%;
                            h2 {
                                box-sizing: border-box;
                                color: rgb(255, 255, 255);
                                display: block;
                                font-family: Quicksand, sans-serif;
                                font-size: 41.13px;
                                font-style: normal;
                                font-weight: normal;
                                letter-spacing: -1.43955px;
                                line-height: 45.243px;
                                margin-bottom: 0px;
                                margin-left: 0px;
                                margin-right: 0px;
                                margin-top: 0px;
                                overflow-x: hidden;
                                overflow-y: hidden;
                                text-rendering: optimizeLegibility;
                                span {
                                    box-sizing: border-box;
                                    color: rgb(255, 255, 255);
                                    display: inline-block;
                                    font-family: Quicksand, sans-serif;
                                    font-size: 41.13px;
                                    font-style: normal;
                                    font-weight: normal;
                                    letter-spacing: -1.43955px;
                                    line-height: 45.243px;
                                    padding-bottom: 2px;
                                    position: relative;
                                }
                                span:after {
                                    content: "";
                                    position: absolute;
                                    top: 50%;
                                    height: 3px;
                                    width: 9999px;
                                    display: block;
                                    margin-top: -2px;
                                    border-top: 1px solid #0f0f0f;
                                    border-bottom: 1px solid #0f0f0f;
                                    left: 100%;
                                    margin-left: 0.5em;
                                    border-bottom-color: rgba(255, 255, 255, 0.15);
                                    border-top-color: rgba(255, 255, 255, 0.15);
                                }
                            }
                            div.x-raw-content.mts.mbl {
                                box-sizing: border-box;
                                color: rgb(102, 102, 102);
                                display: block;
                                font-family: Lato, sans-serif;
                                font-size: 18px;
                                font-style: normal;
                                font-weight: 300;
                                line-height: 30.6px;
                                margin-bottom: 36px;
                                margin-top: 9px;
                                p.man {
                                    box-sizing: border-box;
                                    color: rgb(102, 102, 102);
                                    display: block;
                                    font-family: Lato, sans-serif;
                                    font-size: 18px;
                                    font-style: normal;
                                    font-weight: 300;
                                    line-height: 30.6px;
                                    margin-bottom: 0px;
                                    margin-left: 0px;
                                    margin-right: 0px;
                                    margin-top: 0px;
                                }
                            }
                            div.x-video.embed.man.with-container {
                                background-color: rgb(12, 12, 12);
                                border-bottom-color: rgb(0, 0, 0);
                                border-bottom-left-radius: 2px;
                                border-bottom-right-radius: 2px;
                                border-bottom-style: solid;
                                border-bottom-width: 1px;
                                border-image-outset: 0px;
                                border-image-repeat: stretch;
                                border-image-slice: 100%;
                                border-image-source: none;
                                border-image-width: 1;
                                border-left-color: rgb(0, 0, 0);
                                border-left-style: solid;
                                border-left-width: 1px;
                                border-right-color: rgb(0, 0, 0);
                                border-right-style: solid;
                                border-right-width: 1px;
                                border-top-color: rgb(0, 0, 0);
                                border-top-left-radius: 2px;
                                border-top-right-radius: 2px;
                                border-top-style: solid;
                                border-top-width: 1px;
                                box-shadow: rgba(0, 0, 0, 0.65098) 0px -1px 4px 0px inset;
                                box-sizing: border-box;
                                color: rgb(102, 102, 102);
                                display: block;
                                font-family: Lato, sans-serif;
                                font-size: 18px;
                                font-style: normal;
                                font-weight: 300;
                                line-height: 30.6px;
                                margin-bottom: 0px;
                                margin-left: 0px;
                                margin-right: 0px;
                                margin-top: 0px;
                                padding: 2.5%;
                                .x-video-inner {
                                    box-sizing: border-box;
                                    color: rgb(102, 102, 102);
                                    display: block;
                                    font-family: Lato, sans-serif;
                                    font-size: 18px;
                                    font-style: normal;
                                    font-weight: 300;
                                    line-height: 30.6px;
                                    overflow-x: hidden;
                                    overflow-y: hidden;
                                    padding-bottom: 56.25%;
                                    position: relative;
                                    iframe {
                                        border-bottom-color: rgb(102, 102, 102);
                                        border-bottom-style: none;
                                        border-bottom-width: 0px;
                                        border-image-outset: 0px;
                                        border-image-repeat: stretch;
                                        border-image-slice: 100%;
                                        border-image-source: none;
                                        border-image-width: 1;
                                        border-left-color: rgb(102, 102, 102);
                                        border-left-style: none;
                                        border-left-width: 0px;
                                        border-right-color: rgb(102, 102, 102);
                                        border-right-style: none;
                                        border-right-width: 0px;
                                        border-top-color: rgb(102, 102, 102);
                                        border-top-style: none;
                                        border-top-width: 0px;
                                        box-sizing: border-box;
                                        color: rgb(102, 102, 102);
                                        display: block;
                                        font-family: Lato, sans-serif;
                                        font-size: 18px;
                                        font-style: normal;
                                        font-weight: 300;
                                        left: 0px;
                                        line-height: 30.6px;
                                        margin-bottom: 0px;
                                        margin-left: 0px;
                                        margin-right: 0px;
                                        margin-top: 0px;
                                        max-width: 100%;
                                        position: absolute;
                                        top: 0px;
                                        width: 100%;
                                        height: 100%;
                                    }
                                }
                            }
                        }
                    }
                }
                #x-section-4 {
                    background-color: rgba(0, 0, 0, 0);
                    background-image: url(../images/bg-wagasa.jpg);
                    background-position: 50% 50%;
                    background-repeat: no-repeat;
                    background-size: cover;
                    border-bottom-color: rgb(21, 21, 21);
                    border-bottom-style: solid;
                    border-bottom-width: 0px;
                    border-left-color: rgb(21, 21, 21);
                    border-left-style: solid;
                    border-left-width: 0px;
                    border-right-color: rgb(21, 21, 21);
                    border-right-style: solid;
                    border-right-width: 0px;
                    border-top-color: rgb(21, 21, 21);
                    border-top-style: solid;
                    border-top-width: 1px;
                    box-sizing: border-box;
                    color: rgb(102, 102, 102);
                    display: block;
                    font-family: Lato, sans-serif;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: 30.6px;
                    margin: 0px 0px 0px 0px;
                    padding: 10% 10% 10% 10%;
                    overflow: auto;
                    div.x-container {
                        box-sizing: border-box;
                        color: rgb(102, 102, 102);
                        display: block;
                        font-family: Lato, sans-serif;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 300;
                        line-height: 30.6px;
                        margin-bottom: 0px;
                        margin-left: 0px;
                        margin-right: 0px;
                        margin-top: 0px;
                        padding-bottom: 0px;
                        padding-left: 0px;
                        padding-right: 0px;
                        padding-top: 0px;
                        position: relative;
                        div.x-column.x-sm.x-1-1 {
                            box-sizing: border-box;
                            color: rgb(102, 102, 102);
                            display: block;
                            float: left;
                            font-family: Lato, sans-serif;
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 300;
                            line-height: 30.6px;
                            margin-right: 0px;
                            padding-bottom: 0px;
                            padding-left: 0px;
                            padding-right: 0px;
                            padding-top: 0px;
                            position: relative;
                            width: 100%;
                            div.x-callout.cta.center-text {
                                background-color: rgb(10, 10, 10);
                                border-bottom-color: rgb(0, 0, 0);
                                border-bottom-left-radius: 10.5px;
                                border-bottom-right-radius: 10.5px;
                                border-bottom-style: solid;
                                border-bottom-width: 1px;
                                border-image-outset: 0px;
                                border-image-repeat: stretch;
                                border-image-slice: 100%;
                                border-image-source: none;
                                border-image-width: 1;
                                border-left-color: rgb(0, 0, 0);
                                border-left-style: solid;
                                border-left-width: 1px;
                                border-right-color: rgb(0, 0, 0);
                                border-right-style: solid;
                                border-right-width: 1px;
                                border-top-color: rgb(0, 0, 0);
                                border-top-left-radius: 10.5px;
                                border-top-right-radius: 10.5px;
                                border-top-style: solid;
                                border-top-width: 1px;
                                box-shadow: rgba(0, 0, 0, 0.65098) 0px -1px 3px 0px inset;
                                box-sizing: border-box;
                                color: rgb(102, 102, 102);
                                display: block;
                                font-family: Lato, sans-serif;
                                font-size: 21px;
                                font-style: normal;
                                font-weight: 300;
                                line-height: 35.7px;
                                margin: auto;
                                max-width: 425px;
                                padding-bottom: 49.35px;
                                padding-left: 49.35px;
                                padding-right: 49.35px;
                                padding-top: 49.35px;
                                position: relative;
                                text-align: center;
                                h2.h-callout {
                                    box-sizing: border-box;
                                    color: rgb(255, 255, 255);
                                    display: block;
                                    font-family: Quicksand, sans-serif;
                                    font-size: 45.15px;
                                    font-style: normal;
                                    font-weight: normal;
                                    letter-spacing: -1.58025px;
                                    line-height: 49.665px;
                                    margin-bottom: 15.8025px;
                                    margin-left: 0px;
                                    margin-right: 0px;
                                    margin-top: 0px;
                                    position: relative;
                                    text-align: center;
                                    text-rendering: optimizeLegibility;
                                }
                                p.p-callout {
                                    box-sizing: border-box;
                                    color: rgb(102, 102, 102);
                                    display: block;
                                    font-family: Lato, sans-serif;
                                    font-size: 21px;
                                    font-style: normal;
                                    font-weight: 300;
                                    line-height: 29.4px;
                                    margin-bottom: 27.573px;
                                    margin-left: 0px;
                                    margin-right: 0px;
                                    margin-top: 0px;
                                    position: relative;
                                    text-align: center;
                                }
                                a {
                                    background-color: rgba(0, 0, 0, 0);
                                    border-bottom-color: rgb(214, 101, 59);
                                    border-bottom-left-radius: 5.25px;
                                    border-bottom-right-radius: 5.25px;
                                    border-bottom-style: solid;
                                    border-bottom-width: 3px;
                                    border-image-outset: 0px;
                                    border-image-repeat: stretch;
                                    border-image-slice: 100%;
                                    border-image-source: none;
                                    border-image-width: 1;
                                    border-left-color: rgb(214, 101, 59);
                                    border-left-style: solid;
                                    border-left-width: 3px;
                                    border-right-color: rgb(214, 101, 59);
                                    border-right-style: solid;
                                    border-right-width: 3px;
                                    border-top-color: rgb(214, 101, 59);
                                    border-top-left-radius: 5.25px;
                                    border-top-right-radius: 5.25px;
                                    border-top-style: solid;
                                    border-top-width: 3px;
                                    box-sizing: border-box;
                                    color: rgb(214, 101, 59);
                                    cursor: pointer;
                                    display: inline-block;
                                    font-family: Lato, sans-serif;
                                    font-size: 21px;
                                    font-style: normal;
                                    font-weight: 300;
                                    line-height: 27.3px;
                                    padding-bottom: 17.073px;
                                    padding-left: 23.625px;
                                    padding-right: 23.625px;
                                    padding-top: 11.823px;
                                    position: relative;
                                    text-align: center;
                                    text-decoration: none;
                                    text-transform: uppercase;
                                    transition-delay: 0s;
                                    transition-duration: 0.15s;
                                    transition-property: all;
                                    transition-timing-function: linear;
                                    vertical-align: middle;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// responsive
@media screen and(max-width: 980px) {
    .about {
        .x-main.full {
            article {
                div.entry-content.content {
                    #x-section-1 {
                        padding: 0% 5% 0% 5%;
                        div.x-container {
                            div.x-column.x-sm.x-1-1 {
                                h2 {
                                    span {
                                        font-size: 40px;
                                    }
                                }
                            }
                        }
                    }
                    #x-section-2 {
                        padding: 0% 5% 0% 5%;
                        div.x-container {
                            div.x-column.x-sm.x-1-1 {
                                h2 {
                                    span {
                                        font-size: 30px;
                                    }
                                    span:after {}
                                }
                                div.x-raw-content.mts.mbl {
                                    margin-bottom: 5px;
                                    p.man {}
                                }
                                ul.x-block-grid.mbn.two-up {
                                    margin: 0px;
                                    li {
                                        margin: 0px;
                                        width: 100%;
                                        clear: both;
                                        h4 {
                                            margin: 0px;
                                        }
                                        p.man {}
                                    }
                                }
                            }
                        }
                    }
                    #x-section-3 {
                        padding: 0% 5% 0% 5%;
                        div.x-container {
                            box-sizing: border-box;
                            color: rgb(102, 102, 102);
                            display: block;
                            font-family: Lato, sans-serif;
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 300;
                            line-height: 30.6px;
                            margin-bottom: 0px;
                            margin-left: 0px;
                            margin-right: 0px;
                            margin-top: 0px;
                            padding-bottom: 30px;
                            padding-left: 0px;
                            padding-right: 0px;
                            padding-top: 0px;
                            position: relative;
                            overflow: auto;
                            div.x-column.x-sm.x-1-1 {
                                h2 {
                                    span {
                                        font-size: 30px;
                                    }
                                    span:after {}
                                }
                                div.x-raw-content.mts.mbl {
                                    p.man {}
                                }
                                div.x-video.embed.man.with-container {
                                    .x-video-inner {
                                        iframe {}
                                    }
                                }
                            }
                        }
                    }
                    #x-section-4 {
                        padding: 0% 5% 0% 5%;
                        div.x-container {
                            div.x-column.x-sm.x-1-1 {
                                div.x-callout.cta.center-text {
                                    margin-left: 0px;
                                    margin-right: 0px;
                                    padding-bottom: 37.6px;
                                    padding-left: 37.6px;
                                    padding-right: 37.6px;
                                    padding-top: 37.6px;
                                    margin: auto;
                                    margin-top: 30px;
                                    margin-bottom: 30px;
                                    h2.h-callout {
                                        position: relative;
                                        margin-top: 0;
                                        margin-bottom: 0.35em;
                                        font-size: 34.4px;
                                        line-height: 1.1;
                                    }
                                    p.p-callout {
                                        font-size: 16px;
                                        font-style: normal;
                                    }
                                    a {
                                        // padding: 0px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
