#chef {
    overflow: auto;
    color: white;
    margin-top: 50px;
    font-family: lato;
    h1 {
        font-family: 'Quicksand',lato;
        margin-bottom: 30px;
    }
    h3{
        font-family: Quicksand;
    }
    img {
        margin: auto;
        border: 3px solid #BBBBBB;
        border-radius: 12px;
    }
}
@media screen and (max-width: 980px){
    #chef{
        margin-top: 20px;
    }
}
