@font-face {
    font-family: 'Quicksand';
    src: url('../fonts/Quicksand-Regular.ttf');
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Regular.ttf');
}

@font-face {
    font-family: 'proximanova';
    src: url('..//fonts/proximanova/Mark%20Simonson%20-%20Proxima%20Nova%20Regular.otf');
}
