.contact-form {
    .contact-form-title {
        font-family: 'arial';
        font-size: 22px;
        color: #585858;
        margin-bottom: 5px;
    }
    form {
        .form-group {
            margin-bottom: 7px;
            input,
            select,
            textarea {
                width: 100%;
                background-color: #fff;
                border: 1px solid rgba(171, 171, 171, 0.43);
                font-size: 16px;
                padding-left: 14px;
            }
            select {
                padding-left: 10px;
            }
            input[type="submit"] {
                width: auto;
                padding: 0px 15px;
            }
            input,
            select {
                height: 35px;
                background: transparent;
            }
            textarea {
                min-height: 120px;
                background: transparent;
            }
            .error {
                span {
                    color: #d14233;
                    font-size: 13px;
                }
            }
        }
    }
}
