// Menu page
.menu-page {
    .x-main.full {
        float: none;
        display: block;
        width: auto;
        article {
            box-sizing: border-box;
            color: rgb(102, 102, 102);
            display: block;
            font-family: Lato, sans-serif;
            font-size: 14px;
            font-style: normal;
            font-weight: 300;
            line-height: 23.8px;
            margin-top: 0px;
            div.entry-content.content {
                box-sizing: border-box;
                color: rgb(102, 102, 102);
                display: block;
                font-family: Lato, sans-serif;
                font-size: 18px;
                font-style: normal;
                font-weight: 300;
                line-height: 30.6px;
                margin-top: 0px;
                div#x-section-1 {
                    background-color: rgba(0, 0, 0, 0);
                    background-image: url(../images/bg-sushi.jpg);
                    background-position: 50% 50%;
                    background-repeat: no-repeat;
                    background-size: cover;
                    box-sizing: border-box;
                    color: rgb(102, 102, 102);
                    display: block;
                    font-family: Lato, sans-serif;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: 30.6px;
                    margin-bottom: 0px;
                    margin-left: 0px;
                    margin-right: 0px;
                    margin-top: 0px;
                    padding-bottom: 100px;
                    padding-left: 100px;
                    padding-right: 100px;
                    padding-top: 100px;
                    padding: 10%;
                    overflow: auto;
                    .x-container {
                        box-sizing: border-box;
                        color: rgb(102, 102, 102);
                        display: block;
                        font-family: Lato, sans-serif;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 300;
                        line-height: 30.6px;
                        margin-bottom: 0px;
                        margin-left: 0px;
                        margin-right: 0px;
                        margin-top: 0px;
                        padding-bottom: 0px;
                        padding-left: 0px;
                        padding-right: 0px;
                        padding-top: 0px;
                        position: relative;
                        .x-column.x-sm.x-1-1 {
                            box-sizing: border-box;
                            color: rgb(102, 102, 102);
                            display: block;
                            float: left;
                            font-family: Lato, sans-serif;
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 300;
                            line-height: 30.6px;
                            margin-right: 0px;
                            padding-bottom: 0px;
                            padding-left: 0px;
                            padding-right: 0px;
                            padding-top: 0px;
                            position: relative;
                            width: 100%;
                            h1.h-custom-headline.left-text.man.h2 {
                                box-sizing: border-box;
                                color: rgb(255, 255, 255);
                                display: block;
                                font-family: Quicksand, sans-serif;
                                font-size: 51.426px;
                                font-style: normal;
                                font-weight: normal;
                                letter-spacing: -1.79991px;
                                line-height: 56.5686px;
                                margin-bottom: 0px;
                                margin-left: 0px;
                                margin-right: 0px;
                                margin-top: 0px;
                                text-align: left;
                                text-rendering: optimizeLegibility;
                                span {
                                    box-sizing: border-box;
                                    color: rgb(255, 255, 255);
                                    font-family: Quicksand, sans-serif;
                                    font-size: 51.426px;
                                    font-style: normal;
                                    font-weight: normal;
                                    letter-spacing: -1.79991px;
                                    line-height: 56.5686px;
                                    text-align: left;
                                }
                            }
                            div.x-raw-content.mts {
                                box-sizing: border-box;
                                color: rgba(255, 255, 255, 0.45098);
                                display: block;
                                font-family: Lato, sans-serif;
                                font-size: 18px;
                                font-style: normal;
                                font-weight: 300;
                                line-height: 30.6px;
                                margin-top: 9px;
                                p.man {
                                    box-sizing: border-box;
                                    color: rgba(255, 255, 255, 0.45098);
                                    display: block;
                                    font-family: Lato, sans-serif;
                                    font-size: 18px;
                                    font-style: normal;
                                    font-weight: 300;
                                    line-height: 30.6px;
                                    margin-bottom: 0px;
                                    margin-left: 0px;
                                    margin-right: 0px;
                                    margin-top: 0px;
                                }
                            }
                        }
                    }
                }
                div#x-section-2 {
                    background-color: rgba(0, 0, 0, 0);
                    border-bottom-color: rgb(21, 21, 21);
                    border-bottom-style: solid;
                    border-bottom-width: 0px;
                    border-left-color: rgb(21, 21, 21);
                    border-left-style: solid;
                    border-left-width: 0px;
                    border-right-color: rgb(21, 21, 21);
                    border-right-style: solid;
                    border-right-width: 0px;
                    border-top-color: rgb(21, 21, 21);
                    border-top-style: solid;
                    border-top-width: 1px;
                    box-sizing: border-box;
                    color: rgb(102, 102, 102);
                    display: block;
                    font-family: Lato, sans-serif;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: 30.6px;
                    margin-bottom: 0px;
                    margin-left: 0px;
                    margin-right: 0px;
                    margin-top: 0px;
                    padding-bottom: 0px;
                    padding-left: 0px;
                    padding-right: 0px;
                    padding-top: 65px;
                    div.x-container.center-text.max.width {
                        box-sizing: border-box;
                        color: rgb(102, 102, 102);
                        display: block;
                        font-family: Lato, sans-serif;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 300;
                        line-height: 30.6px;
                        margin: auto;
                        max-width: 1000px;
                        padding-bottom: 0px;
                        padding-left: 50px;
                        padding-right: 50px;
                        padding-top: 0px;
                        position: relative;
                        text-align: center;
                        width: 86%;
                        overflow: auto;
                        div.x-column.x-sm.x-1-1 {
                            box-sizing: border-box;
                            color: rgb(102, 102, 102);
                            display: block;
                            float: left;
                            font-family: Lato, sans-serif;
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 300;
                            line-height: 30.6px;
                            margin-right: 0px;
                            padding-bottom: 0px;
                            padding-left: 0px;
                            padding-right: 0px;
                            padding-top: 0px;
                            position: relative;
                            text-align: center;
                            width: 100%;
                            h2.h-custom-headline.man.h3.accent {
                                box-sizing: border-box;
                                color: rgb(255, 255, 255);
                                display: block;
                                font-family: Quicksand, sans-serif;
                                font-size: 41.13px;
                                font-style: normal;
                                font-weight: normal;
                                letter-spacing: -1.43955px;
                                line-height: 45.243px;
                                margin-bottom: 0px;
                                margin-left: 0px;
                                margin-right: 0px;
                                margin-top: 0px;
                                overflow-x: hidden;
                                overflow-y: hidden;
                                text-align: center;
                                text-rendering: optimizeLegibility;
                                span {
                                    box-sizing: border-box;
                                    color: rgb(255, 255, 255);
                                    display: inline-block;
                                    font-family: Quicksand, sans-serif;
                                    font-size: 41.13px;
                                    font-style: normal;
                                    font-weight: normal;
                                    letter-spacing: -1.43955px;
                                    line-height: 45.243px;
                                    padding-bottom: 2px;
                                    position: relative;
                                    text-align: center;
                                }
                                span:before {
                                    content: "";
                                    position: absolute;
                                    top: 50%;
                                    height: 3px;
                                    width: 9999px;
                                    display: block;
                                    margin-top: -2px;
                                    border-top: 1px solid #0f0f0f;
                                    border-bottom: 1px solid #0f0f0f;
                                    right: 100%;
                                    margin-right: 0.5em;
                                    border-bottom-color: rgba(255, 255, 255, 0.15);
                                    border-top-color: rgba(255, 255, 255, 0.15);
                                }
                                span:after {
                                    content: "";
                                    position: absolute;
                                    top: 50%;
                                    height: 3px;
                                    width: 9999px;
                                    display: block;
                                    margin-top: -2px;
                                    border-top: 1px solid #0f0f0f;
                                    border-bottom: 1px solid #0f0f0f;
                                    left: 100%;
                                    margin-left: 0.5em;
                                    border-bottom-color: rgba(255, 255, 255, 0.15);
                                    border-top-color: rgba(255, 255, 255, 0.15);
                                }
                            }
                            div.x-raw-content.mts {
                                box-sizing: border-box;
                                color: rgb(102, 102, 102);
                                display: block;
                                font-family: Lato, sans-serif;
                                font-size: 18px;
                                font-style: normal;
                                font-weight: 300;
                                line-height: 30.6px;
                                margin-top: 9px;
                                text-align: center;
                                p.man {
                                    box-sizing: border-box;
                                    color: rgb(102, 102, 102);
                                    display: block;
                                    font-family: Lato, sans-serif;
                                    font-size: 18px;
                                    font-style: normal;
                                    font-weight: 300;
                                    line-height: 30.6px;
                                    margin-bottom: 0px;
                                    margin-left: 0px;
                                    margin-right: 0px;
                                    margin-top: 0px;
                                    text-align: center;
                                }
                            }
                        }
                    }
                    div.x-container.marginless-columns {
                        box-sizing: border-box;
                        color: rgb(102, 102, 102);
                        display: table;
                        font-family: Lato, sans-serif;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 300;
                        line-height: 30.6px;
                        margin-bottom: 0px;
                        margin-left: 0px;
                        margin-right: 0px;
                        margin-top: 65px;
                        padding-bottom: 0px;
                        padding-left: 0px;
                        padding-right: 0px;
                        padding-top: 0px;
                        position: relative;
                        table-layout: fixed;
                        width: 100%;
                        div.x-column.x-sm.x-1-2 {
                            background-color: rgb(21, 21, 21);
                            box-sizing: border-box;
                            color: rgb(102, 102, 102);
                            display: table-cell;
                            float: none;
                            font-family: Lato, sans-serif;
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 300;
                            line-height: 30.6px;
                            margin-right: 0px;
                            padding: 6.5% 3% 6.5% 3%;
                            position: relative;
                            vertical-align: top;
                            width: 50%;
                            div.x-raw-content{
                                box-sizing: border-box;
                                color: rgb(102, 102, 102);
                                display: block;
                                font-family: Lato, sans-serif;
                                font-size: 13px;
                                font-style: normal;
                                font-weight: 300;
                                line-height: 22.1px;
                                .menu-title{
                                    font-size: 13px;
                                    font-weight: normal;
                                    .pull-right{
                                        float: right;

                                    }
                                }
                            }
                            div.x-raw-content {
                                box-sizing: border-box;
                                color: rgb(102, 102, 102);
                                display: block;
                                font-family: Lato, sans-serif;
                                font-size: 13px;
                                font-style: normal;
                                font-weight: 300;
                                line-height: 22.1px;
                                table {
                                    width: 100%;
                                    tr {
                                        td.right {
                                            text-align: right;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                div#x-section-5 {
                    background-color: rgba(0, 0, 0, 0);
                    background-image: url(../images/bg-wagasa.jpg);
                    background-position: 50% 50%;
                    background-repeat: no-repeat;
                    background-size: cover;
                    box-sizing: border-box;
                    color: rgb(102, 102, 102);
                    display: block;
                    font-family: Lato, sans-serif;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: 30.6px;
                    margin-bottom: 0px;
                    margin-left: 0px;
                    margin-right: 0px;
                    margin-top: 0px;
                    padding-bottom: 100px;
                    padding-left: 100px;
                    padding-right: 100px;
                    padding-top: 100px;
                    overflow: auto;
                    .x-container {
                        box-sizing: border-box;
                        color: rgb(102, 102, 102);
                        display: block;
                        font-family: Lato, sans-serif;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 300;
                        line-height: 30.6px;
                        margin-bottom: 0px;
                        margin-left: 0px;
                        margin-right: 0px;
                        margin-top: 0px;
                        padding-bottom: 0px;
                        padding-left: 0px;
                        padding-right: 0px;
                        padding-top: 0px;
                        position: relative;
                        div.x-column.x-sm.x-1-1 {
                            box-sizing: border-box;
                            color: rgb(102, 102, 102);
                            display: block;
                            float: left;
                            font-family: Lato, sans-serif;
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 300;
                            line-height: 30.6px;
                            margin-right: 0px;
                            padding-bottom: 0px;
                            padding-left: 0px;
                            padding-right: 0px;
                            padding-top: 0px;
                            position: relative;
                            width: 100%;
                            div.x-callout.cta.center-text {
                                background-color: rgb(10, 10, 10);
                                border-bottom-color: rgb(0, 0, 0);
                                border-bottom-left-radius: 10.5px;
                                border-bottom-right-radius: 10.5px;
                                border-bottom-style: solid;
                                border-bottom-width: 1px;
                                border-image-outset: 0px;
                                border-image-repeat: stretch;
                                border-image-slice: 100%;
                                border-image-source: none;
                                border-image-width: 1;
                                border-left-color: rgb(0, 0, 0);
                                border-left-style: solid;
                                border-left-width: 1px;
                                border-right-color: rgb(0, 0, 0);
                                border-right-style: solid;
                                border-right-width: 1px;
                                border-top-color: rgb(0, 0, 0);
                                border-top-left-radius: 10.5px;
                                border-top-right-radius: 10.5px;
                                border-top-style: solid;
                                border-top-width: 1px;
                                box-shadow: rgba(0, 0, 0, 0.65098) 0px -1px 3px 0px inset;
                                box-sizing: border-box;
                                color: rgb(102, 102, 102);
                                display: block;
                                font-family: Lato, sans-serif;
                                font-size: 21px;
                                font-style: normal;
                                font-weight: 300;
                                line-height: 35.7px;
                                margin: 0 auto;
                                max-width: 425px;
                                padding: 2.35em;
                                position: relative;
                                text-align: center;
                                h2.h-callout {
                                    box-sizing: border-box;
                                    color: rgb(255, 255, 255);
                                    display: block;
                                    font-family: Quicksand, sans-serif;
                                    font-size: 45.15px;
                                    font-style: normal;
                                    font-weight: normal;
                                    letter-spacing: -1.58025px;
                                    line-height: 49.665px;
                                    margin-bottom: 15.8025px;
                                    margin-left: 0px;
                                    margin-right: 0px;
                                    margin-top: 0px;
                                    position: relative;
                                    text-align: center;
                                    text-rendering: optimizeLegibility;
                                }
                                .p-callout {
                                    box-sizing: border-box;
                                    color: rgb(102, 102, 102);
                                    display: block;
                                    font-family: Lato, sans-serif;
                                    font-size: 21px;
                                    font-style: normal;
                                    font-weight: 300;
                                    line-height: 29.4px;
                                    margin-bottom: 27.573px;
                                    margin-left: 0px;
                                    margin-right: 0px;
                                    margin-top: 0px;
                                    position: relative;
                                    text-align: center;
                                }
                                a.x-btn {
                                    background-color: rgba(0, 0, 0, 0);
                                    border-bottom-color: rgb(214, 101, 59);
                                    border-bottom-left-radius: 5.25px;
                                    border-bottom-right-radius: 5.25px;
                                    border-bottom-style: solid;
                                    border-bottom-width: 3px;
                                    border-image-outset: 0px;
                                    border-image-repeat: stretch;
                                    border-image-slice: 100%;
                                    border-image-source: none;
                                    border-image-width: 1;
                                    border-left-color: rgb(214, 101, 59);
                                    border-left-style: solid;
                                    border-left-width: 3px;
                                    border-right-color: rgb(214, 101, 59);
                                    border-right-style: solid;
                                    border-right-width: 3px;
                                    border-top-color: rgb(214, 101, 59);
                                    border-top-left-radius: 5.25px;
                                    border-top-right-radius: 5.25px;
                                    border-top-style: solid;
                                    border-top-width: 3px;
                                    box-sizing: border-box;
                                    color: rgb(214, 101, 59);
                                    cursor: pointer;
                                    display: inline-block;
                                    font-family: Lato, sans-serif;
                                    font-size: 21px;
                                    font-style: normal;
                                    font-weight: 300;
                                    line-height: 27.3px;
                                    padding-bottom: 17.073px;
                                    padding-left: 23.625px;
                                    padding-right: 23.625px;
                                    padding-top: 11.823px;
                                    position: relative;
                                    text-align: center;
                                    text-decoration: none;
                                    text-transform: uppercase;
                                    transition-delay: 0s;
                                    transition-duration: 0.15s;
                                    transition-property: all;
                                    transition-timing-function: linear;
                                    vertical-align: middle;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// responsive
@media screen and (max-width: 980px) {
    // Menu page
    .menu-page {
        .x-main.full {
            article {
                div.entry-content.content {
                    div#x-section-1 {
                        padding: 10% 10% 10% 10%;
                        .x-container {
                            overflow: auto;
                            .x-column.x-sm.x-1-1 {
                                box-sizing: border-box;
                                color: rgb(102, 102, 102);
                                display: block;
                                float: left;
                                font-family: Lato, sans-serif;
                                font-size: 18px;
                                font-style: normal;
                                font-weight: 300;
                                line-height: 30.6px;
                                margin-right: 0px;
                                padding-bottom: 0px;
                                padding-left: 0px;
                                padding-right: 0px;
                                padding-top: 0px;
                                position: relative;
                                width: 100%;
                                h1.h-custom-headline.left-text.man.h2 {
                                    box-sizing: border-box;
                                    color: rgb(255, 255, 255);
                                    display: block;
                                    font-family: Quicksand, sans-serif;
                                    font-size: 30px;
                                    font-style: normal;
                                    font-weight: normal;
                                    letter-spacing: -1.79991px;
                                    line-height: 56.5686px;
                                    margin-bottom: 0px;
                                    margin-left: 0px;
                                    margin-right: 0px;
                                    margin-top: 0px;
                                    text-align: left;
                                    text-rendering: optimizeLegibility;
                                    span {
                                        box-sizing: border-box;
                                        color: rgb(255, 255, 255);
                                        font-family: Quicksand, sans-serif;
                                        font-size: 30px;
                                        font-style: normal;
                                        font-weight: normal;
                                        letter-spacing: -1.79991px;
                                        line-height: 56.5686px;
                                        text-align: left;
                                    }
                                }
                                div.x-raw-content.mts {
                                    box-sizing: border-box;
                                    color: rgba(255, 255, 255, 0.45098);
                                    display: block;
                                    font-family: Lato, sans-serif;
                                    font-size: 18px;
                                    font-style: normal;
                                    font-weight: 300;
                                    line-height: 30.6px;
                                    margin-top: 9px;
                                    p.man {
                                        box-sizing: border-box;
                                        color: rgba(255, 255, 255, 0.45098);
                                        display: block;
                                        font-family: Lato, sans-serif;
                                        font-size: 18px;
                                        font-style: normal;
                                        font-weight: 300;
                                        line-height: 30.6px;
                                        margin-bottom: 0px;
                                        margin-left: 0px;
                                        margin-right: 0px;
                                        margin-top: 0px;
                                    }
                                }
                            }
                        }
                    }
                    div#x-section-2 {
                        background-color: rgba(0, 0, 0, 0);
                        border-bottom-color: rgb(21, 21, 21);
                        border-bottom-style: solid;
                        border-bottom-width: 0px;
                        border-left-color: rgb(21, 21, 21);
                        border-left-style: solid;
                        border-left-width: 0px;
                        border-right-color: rgb(21, 21, 21);
                        border-right-style: solid;
                        border-right-width: 0px;
                        border-top-color: rgb(21, 21, 21);
                        border-top-style: solid;
                        border-top-width: 1px;
                        box-sizing: border-box;
                        color: rgb(102, 102, 102);
                        display: block;
                        font-family: Lato, sans-serif;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 300;
                        line-height: 30.6px;
                        margin-bottom: 0px;
                        margin-left: 0px;
                        margin-right: 0px;
                        margin-top: 0px;
                        padding-bottom: 0px;
                        padding-left: 0px;
                        padding-right: 0px;
                        padding-top: 20px;
                        div.x-container.center-text.max.width {
                            box-sizing: border-box;
                            color: rgb(102, 102, 102);
                            display: block;
                            font-family: Lato, sans-serif;
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 300;
                            line-height: 30.6px;
                            margin: auto;
                            max-width: 1000px;
                            padding-bottom: 0px;
                            padding-top: 0px;
                            position: relative;
                            text-align: center;
                            width: 100%;
                            overflow: auto;
                            div.x-column.x-sm.x-1-1 {
                                box-sizing: border-box;
                                color: rgb(102, 102, 102);
                                display: block;
                                float: left;
                                font-family: Lato, sans-serif;
                                font-size: 18px;
                                font-style: normal;
                                font-weight: 300;
                                line-height: 30.6px;
                                margin-right: 0px;
                                padding-bottom: 0px;
                                padding-left: 0px;
                                padding-right: 0px;
                                padding-top: 0px;
                                position: relative;
                                text-align: center;
                                width: 100%;
                                h2.h-custom-headline.man.h3.accent {
                                    box-sizing: border-box;
                                    color: rgb(255, 255, 255);
                                    display: block;
                                    font-family: Quicksand, sans-serif;
                                    font-size: 30px;
                                    font-style: normal;
                                    font-weight: normal;
                                    letter-spacing: -1.43955px;
                                    line-height: 45.243px;
                                    margin-bottom: 0px;
                                    margin-left: 0px;
                                    margin-right: 0px;
                                    margin-top: 0px;
                                    overflow-x: hidden;
                                    overflow-y: hidden;
                                    text-align: center;
                                    text-rendering: optimizeLegibility;
                                    span {
                                        box-sizing: border-box;
                                        color: rgb(255, 255, 255);
                                        display: inline-block;
                                        font-family: Quicksand, sans-serif;
                                        font-size: 30px;
                                        font-style: normal;
                                        font-weight: normal;
                                        letter-spacing: -1.43955px;
                                        line-height: 45.243px;
                                        padding-bottom: 2px;
                                        position: relative;
                                        text-align: center;
                                    }
                                    span:before {
                                        content: "";
                                        position: absolute;
                                        top: 50%;
                                        height: 3px;
                                        width: 9999px;
                                        display: block;
                                        margin-top: -2px;
                                        border-top: 1px solid #0f0f0f;
                                        border-bottom: 1px solid #0f0f0f;
                                        right: 100%;
                                        margin-right: 0.5em;
                                        border-bottom-color: rgba(255, 255, 255, 0.15);
                                        border-top-color: rgba(255, 255, 255, 0.15);
                                    }
                                    span:after {
                                        content: "";
                                        position: absolute;
                                        top: 50%;
                                        height: 3px;
                                        width: 9999px;
                                        display: block;
                                        margin-top: -2px;
                                        border-top: 1px solid #0f0f0f;
                                        border-bottom: 1px solid #0f0f0f;
                                        left: 100%;
                                        margin-left: 0.5em;
                                        border-bottom-color: rgba(255, 255, 255, 0.15);
                                        border-top-color: rgba(255, 255, 255, 0.15);
                                    }
                                }
                                div.x-raw-content.mts {
                                    box-sizing: border-box;
                                    color: rgb(102, 102, 102);
                                    display: block;
                                    font-family: Lato, sans-serif;
                                    font-size: 18px;
                                    font-style: normal;
                                    font-weight: 300;
                                    line-height: 30.6px;
                                    margin-top: 9px;
                                    text-align: center;
                                    p.man {
                                        box-sizing: border-box;
                                        color: rgb(102, 102, 102);
                                        display: block;
                                        font-family: Lato, sans-serif;
                                        font-size: 18px;
                                        font-style: normal;
                                        font-weight: 300;
                                        line-height: 30.6px;
                                        margin-bottom: 0px;
                                        margin-left: 0px;
                                        margin-right: 0px;
                                        margin-top: 0px;
                                        text-align: center;
                                    }
                                }
                            }
                        }
                        div.x-container.marginless-columns {
                            box-sizing: border-box;
                            color: rgb(102, 102, 102);
                            display: table;
                            font-family: Lato, sans-serif;
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 300;
                            line-height: 30.6px;
                            margin-bottom: 0px;
                            margin-left: 0px;
                            margin-right: 0px;
                            margin-top: 20px;
                            padding-bottom: 0px;
                            padding-left: 0px;
                            padding-right: 0px;
                            padding-top: 0px;
                            position: relative;
                            table-layout: fixed;
                            div.x-column.x-sm.x-1-2 {
                                background-color: rgb(21, 21, 21);
                                box-sizing: border-box;
                                color: rgb(102, 102, 102);
                                display: table-cell;
                                float: none;
                                font-family: Lato, sans-serif;
                                font-size: 18px;
                                font-style: normal;
                                font-weight: 300;
                                line-height: 30.6px;
                                margin-right: 0px;
                                padding: 20px 5%;
                                position: relative;
                                vertical-align: top;
                                width: 100%;
                                display: block;
                                h4.h-custom-headline.h4 {
                                    box-sizing: border-box;
                                    color: rgb(255, 255, 255);
                                    display: block;
                                    font-family: Quicksand, sans-serif;
                                    font-size: 30.852px;
                                    font-style: normal;
                                    font-weight: normal;
                                    letter-spacing: -1.07982px;
                                    line-height: 33.9372px;
                                    margin-bottom: 15px;
                                    margin-left: 0px;
                                    margin-right: 0px;
                                    margin-top: 0px;
                                    text-rendering: optimizeLegibility;
                                    span {
                                        box-sizing: border-box;
                                        color: rgb(255, 255, 255);
                                        font-family: Quicksand, sans-serif;
                                        font-size: 30.852px;
                                        font-style: normal;
                                        font-weight: normal;
                                        letter-spacing: -1.07982px;
                                        line-height: 33.9372px;
                                    }
                                }
                                div.x-raw-content {
                                    box-sizing: border-box;
                                    color: rgb(102, 102, 102);
                                    display: block;
                                    font-family: Lato, sans-serif;
                                    font-size: 13px;
                                    font-style: normal;
                                    font-weight: 300;
                                    line-height: 22.1px;
                                    table {
                                        padding-top: 15px;
                                        tr {
                                            border-bottom: 1px dotted #474747;
                                        }
                                    }
                                }
                            }
                            div.x-column.x-sm.x-1-2:first-child {
                                padding-bottom: 0px;
                            }
                        }
                    }
                    div#x-section-5 {
                        background-color: rgba(0, 0, 0, 0);
                        background-image: url(../images/bg-wagasa.jpg);
                        background-position: 50% 50%;
                        background-repeat: no-repeat;
                        background-size: cover;
                        box-sizing: border-box;
                        color: rgb(102, 102, 102);
                        display: block;
                        font-family: Lato, sans-serif;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 300;
                        line-height: 30.6px;
                        margin-bottom: 0px;
                        margin-left: 0px;
                        margin-right: 0px;
                        margin-top: 0px;
                        padding: 20px;
                        overflow: auto;
                        .x-container {
                            box-sizing: border-box;
                            color: rgb(102, 102, 102);
                            display: block;
                            font-family: Lato, sans-serif;
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 300;
                            line-height: 30.6px;
                            margin-bottom: 0px;
                            margin-left: 0px;
                            margin-right: 0px;
                            margin-top: 0px;
                            padding-bottom: 0px;
                            padding-left: 0px;
                            padding-right: 0px;
                            padding-top: 0px;
                            position: relative;
                            div.x-column.x-sm.x-1-1 {
                                box-sizing: border-box;
                                color: rgb(102, 102, 102);
                                display: block;
                                float: left;
                                font-family: Lato, sans-serif;
                                font-size: 18px;
                                font-style: normal;
                                font-weight: 300;
                                line-height: 30.6px;
                                margin-right: 0px;
                                padding-bottom: 0px;
                                padding-left: 0px;
                                padding-right: 0px;
                                padding-top: 0px;
                                position: relative;
                                width: 100%;
                                div.x-callout.cta.center-text {
                                    background-color: rgb(10, 10, 10);
                                    border-bottom-color: rgb(0, 0, 0);
                                    border-bottom-left-radius: 10.5px;
                                    border-bottom-right-radius: 10.5px;
                                    border-bottom-style: solid;
                                    border-bottom-width: 1px;
                                    border-image-outset: 0px;
                                    border-image-repeat: stretch;
                                    border-image-slice: 100%;
                                    border-image-source: none;
                                    border-image-width: 1;
                                    border-left-color: rgb(0, 0, 0);
                                    border-left-style: solid;
                                    border-left-width: 1px;
                                    border-right-color: rgb(0, 0, 0);
                                    border-right-style: solid;
                                    border-right-width: 1px;
                                    border-top-color: rgb(0, 0, 0);
                                    border-top-left-radius: 10.5px;
                                    border-top-right-radius: 10.5px;
                                    border-top-style: solid;
                                    border-top-width: 1px;
                                    box-shadow: rgba(0, 0, 0, 0.65098) 0px -1px 3px 0px inset;
                                    box-sizing: border-box;
                                    color: rgb(102, 102, 102);
                                    display: block;
                                    font-family: Lato, sans-serif;
                                    font-size: 21px;
                                    font-style: normal;
                                    font-weight: 300;
                                    line-height: 35.7px;
                                    margin: 0px auto;
                                    max-width: 425px;
                                    padding: 2.3em;
                                    position: relative;
                                    text-align: center;
                                    h2.h-callout {
                                        box-sizing: border-box;
                                        color: rgb(255, 255, 255);
                                        display: block;
                                        font-family: Quicksand, sans-serif;
                                        font-size: 2.15em;
                                        font-style: normal;
                                        font-weight: normal;
                                        letter-spacing: -1.58025px;
                                        line-height: 49.665px;
                                        margin-bottom: 15.8025px;
                                        margin-left: 0px;
                                        margin-right: 0px;
                                        margin-top: 0px;
                                        position: relative;
                                        text-align: center;
                                        text-rendering: optimizeLegibility;
                                    }
                                    .p-callout {
                                        box-sizing: border-box;
                                        color: rgb(102, 102, 102);
                                        display: block;
                                        font-family: Lato, sans-serif;
                                        font-size: 16px;
                                        font-style: normal;
                                        font-weight: 300;
                                        line-height: 29.4px;
                                        margin-bottom: 27.573px;
                                        margin-left: 0px;
                                        margin-right: 0px;
                                        margin-top: 0px;
                                        position: relative;
                                        text-align: center;
                                    }
                                    a.x-btn {
                                        font-size: 16px;
                                        padding: 0.563em 1.125em 0.813em;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.menu-title {
    color: #ffe;
    overflow: auto;
    font-size: 16px;
    margin-bottom: 0px;
}
