#social {
    padding-bottom: 20px;
    position: static;
    background-position: 50%;
    background-size: cover;
    a {
        font-family: Quicksand, sans-serif;
        color: white;
        font-size: 20px;
    }
}
