<div class="menu-page">
    <div class="x-main full" role="main">
        <article id="post-66" class="post-66 page type-page status-publish hentry no-post-thumbnail">
            <div class="entry-content content">
                <div id="x-section-1" class="x-section bg-image" ng-show="pages.menu.isEnableSection('header')">
                    <div class="x-container">
                        <div class="x-column x-sm   x-1-1">
                            <h1 class="h-custom-headline left-text man h2"><span translate="menu.headline"></span></h1>
                            <div class="x-raw-content mts">
                                <p class="man" translate="menu.sub_headline"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="x-section-2" class="x-section" ng-repeat="menu in restaurant.getMenus()" ng-show="pages.menu.isEnableSection('content')">
                    <div class="x-container center-text  max width">
                        <div class="x-column x-sm x-1-1">
                            <h2 class="h-custom-headline  man h3 accent">
                                <span ng-bind="menu.categorie.value"></span>
                            </h2>
                        </div>
                    </div>
                    <div class="x-container marginless-columns">
                        <div class="x-column x-sm x-1-2">
                            <div class="x-raw-content">
                                <div ng-repeat="item in menu.items" ng-if="$odd">
                                    <h5 class="menu-title"><span class="pull-left" ng-bind="item.item_title"></span><span class="pull-right">{{item.currency}} {{item.price}}</span></h5>
                                    <p ng-bind="item.item_description"></p>
                                </div>
                            </div>
                        </div>
                        <div class="x-column x-sm x-1-2">
                            <div class="x-raw-content">
                                <div class="x-raw-content">
                                        <div ng-repeat="item in menu.items" ng-if="$even">
                                            <h5 class="menu-title"><span class="pull-left" ng-bind="item.item_title"></span><span class="pull-right">{{item.currency}} {{item.price}}</span></h5>
                                    <p ng-bind="item.item_description"></p>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="x-section-5" class="x-section bg-image" ng-show="pages.menu.isEnableSection('book_button')">
                    <div class="x-container">
                        <div class="x-column x-sm x-1-1">
                            <div class="x-callout cta center-text">
                                <h2 class="h-callout" translate="menu.footer_title"></h2>
                                <p class="p-callout" translate="menu.footer_description"></p>
                                <a ui-sref="book" class="x-btn" translate="menu.footer_book_btn"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </div>
</div>
