<div id="social" class="col-xs-12">
    <div class="col-xs-12 col-md-6" ng-show="pages.social.isEnableSection('facebook')">
        <h3><a ng-href="{{fb_page_url}}" translate="social.find_us_on_facebook"></a></h3>
        <div class="fb-page" data-href="{{fb_page_url}}" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
        </div>
    </div>
    <div class="col-xs-12 col-md-6" ng-show="pages.social.isEnableSection('instagram')">
        <h3><a href="{{ instagram_url }}" translate="social.find_us_on_instagram"></a></h3>
        <div ng-bind-html="instagram_widget | unsafe"></div>
    </div>
</div>
