<div id="chef">
    <div class="col-xs-12">
        <div class="col-xs-12">
            <h1 translate="chef.headline" translate-values="{restaurant: restaurant}"></h1>
        </div>
        <div class="col-xs-12 col-md-3">
            <div class="chef-image text-center">
                <img ng-src="{{ restaurant.chef.getChefImage() }}" alt="{{ restaurant.chef.getChefName() }}" class="img-responsive">
                <h3 ng-bind="restaurant.chef.getChefName()"></h3>
            </div>
        </div>
        <div class="col-xs-12 col-md-9">
            <div class="his-believe" ng-if="restaurant.chef.getChefBelieve() !== ''">
                <p>
                    <strong ng-if="restaurant.chef.isFemale()" translate="chef.her_believe"></strong>
                    <strong ng-if="!restaurant.chef.isFemale()" translate="chef.his_believe"></strong>
                </p>
                <p ng-bind="restaurant.chef.getChefBelieve()"></p>
            </div>
            <div class="his-cuisine" ng-if="restaurant.chef.getChefDescription() !== ''">
                 <p>
                    <strong ng-if="restaurant.chef.isFemale()" translate="chef.her_believe"></strong>
                    <strong ng-if="!restaurant.chef.isFemale()" translate="chef.his_believe"></strong>
                </p>
                <p ng-bind="restaurant.chef.getChefDescription()"></p>
            </div>
            <div class="his-awards" ng-if="restaurant.chef.getChefAward() !== ''">
                <p>
                    <strong ng-if="restaurant.chef.isFemale()" translate="chef.her_believe"></strong>
                    <strong ng-if="!restaurant.chef.isFemale()" translate="chef.his_believe"></strong>
                </p>
                <p ng-bind="restaurant.chef.getChefAward()"></p>
            </div>
        </div>
    </div>
</div>
