<div id="social">
    <div class="col-xs-12 col-sm-4">
        <form name="SocialDataForm" ng-submit="update(social)">
            <div class="form-group">
                <label>Facebook Page Url</label>
                <input type="url" class="form-control" ng-model="social.facebook_page">
            </div>
            <div class="form-group">
                <label>Instagram Page Url</label>
                <input type="url" class="form-control" ng-model="social.instagram_url">
            </div>
            <div class="form-group">
                <label>Instagram Wiget</label>
                <textarea style="min-height: 200px" class="form-control" ng-model="social.instagram_widget"></textarea>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-default" value="Update">
            </div>
        </form>
    </div>
</div>
