<div class="about">
    <div class="x-main full" role="main">
        <article id="post-2" class="post-2 page type-page status-publish hentry no-post-thumbnail">
            <div class="entry-content content">
                <div id="x-section-1" class="x-section bg-image" ng-show="pages.about.isEnableSection('header')">
                    <div class="x-container">
                        <div class="x-column x-sm x-1-1">
                            <h2 class="h-custom-headline man h2">
                                <span translate="about.headline" translate-values="{restaurant: restaurant}"></span>
                            </h2>
                        </div>
                    </div>
                </div>
                <div id="x-section-2" class="x-section" ng-show="pages.about.isEnableSection('content')">
                    <div class="x-container">
                        <div class="x-column x-sm x-1-1" ng-repeat="description in restaurant.getDescription()">
                            <h2 class="h-custom-headline  man h3 accent"><span ng-bind="description.title"></span></h2>
                            <div class="x-raw-content mts mbl" ng-repeat="descBody in description.body">
                                <p class="man" ng-bind="descBody"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="x-section-4" class="x-section bg-image" ng-show="pages.about.isEnableSection('book_button')">
                    <div class="x-container">
                        <div class="x-column x-sm x-1-1">
                            <div class="x-callout cta center-text">
                                <h2 class="h-callout" translate="footer.title"></h2>
                                <p class="p-callout" translate="footer.description"></p>
                                <a ui-sref="book" class="x-btn" title="{{ footer.button | translate }}" translate="footer.button"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </div>
</div>
