<div id="menu-page">
    <div id="session" style="background: url('{{restaurant.getBannerImage()}}') center 0 fixed">
        <h1 translate="menu_page.headline"></h1>
    </div>
    <div id="content">
        <div class="container">
            <div class="title_line" ng-repeat="menu in restaurant.getMenus()">
                <h1>
                    <img ng-src="{{asset('images/menu/title_line_left.png')}}" alt="">
                    <span ng-bind="menu.categorie.value"></span>
                    <img ng-src="{{asset('images/menu/title_line_right.png')}}" alt="">
                </h1>
                <article ng-repeat="item in menu.items">
                    <div class="row">
                        <div class="col-xs-12 col-sm-3 col-md-3 img-menu" >
                            <div class="verlay" ng-show="item.mimage">
                                <a href="#" ><img ng-src="{{restaurant.getMenuImage(item.mimage)}}" alt=""></a>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-9 col-md-9">
                            <div class="nine_columns">
                                <h1>{{ item.item_title }} <span class="pull-right">{{item.currency}}{{item.price}}</span></h1>
                                <p ng-bind="item.item_description"></p>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>
