#about{
    #about_section{
        @include bg_url(url(../images/the_restaurant/the_restaurant1.jpg) center 0 fixed);
        box-shadow: inset 0 0 0 1000px rgba(0,0,0,.35);
        overflow: auto;
    }
    .container{
        padding-top: 20px;
        padding-bottom: 20px;
        .about-image{
            
            img{
                margin: auto;
                
            }
        }
    }
}
@media screen and (max-width: 768px){
    .title_line{
        overflow: visible;
    }
    #about{
        #about_section{
            div{
                h1{
                    font-size: 33px;
                }
            }
        }
    }
}