#chef{
    #session_thestaurant{
        overflow: auto;
    }
    .container{
        padding-top: 20px;
        padding-bottom: 20px;
        .chef-image{
            img{
                margin: auto;
            }
        }
    }
}
@media screen and (max-width: 768px){
    .title_line{
        overflow: visible;
    }
    #chef{
        #session_thestaurant{
            div{
                h1{
                    font-size: 33px;
                }
            }
        }
    }
}