#session_foodevent {
    @include bg_url(url(../images/foodevent/slide.jpg) center 0 fixed);
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.35);
    background-size: 100%!important;
}

.item-size {
    width: 20%;
}

.title_line {
    overflow: auto;
    .gallery {
        margin-top: 40px;
        .image {
            margin-bottom: 20px;
            padding: 5px;
            box-shadow: 0 0 5px #ccc;
            overflow: auto;
            img {
                width: 100%;
            }
        }
    }
}

#session_thestaurant {
    @include bg_url(url(../images/the_restaurant/the_restaurant1.jpg) center 0 fixed);
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.35);
    background-size: 100%;
}

.verlay3 img {
    width: 100%;
    padding: 5px;
    box-shadow: 0 0 5px #ccc;
}

#gallery-1 {
    .col-md-2 {
        padding: 0;
        margin: 0;
        margin-right: 5px;
        margin-bottom: 5px;
        .gallery-item {
            img {
                max-width: 100%;
            }
        }
    }
    p {
        margin-top: 30px;
        font-size: 14px;
        color: #686868;
    }
}

.main_the_restaurant > .list_menu > .row > .col-md-12 > .col-md-4 > h3 {
    font-family: myFirstFont;
    font-weight: 900;
    margin-bottom: 20px;
}

@media (min-width: 992px) {
    .col-md-2 {
        width: 14.666667%;
    }
}

@media (max-width: 480px) {
    .item-size {
        width: 100%;
    }
}
