#menu-page {
    #session {
        @include bg_url(url(../images/foodevent/slide.jpg) center 0 fixed);
        box-shadow: inset 0 0 0 1000px rgba(0,0,0,.35);
        background-size: 100%!important;
    }
    #content {
        .container {
            padding: 0 30px;
            .title_line {
                text-align: center;
                background: #fff;
                padding: 50px 20px 130px 17px;
                margin: 30px 0;
                box-shadow: 0 0 5px #ccc;
                h1 {
                    // background: url(../images/menu/title_line.png) no-repeat center;
                    font-size: 16px;
                    text-transform: uppercase;
                    font-style: normal;
                    font-weight: normal;
                    span {
                        margin: 0 15px;
                    }
                }
                .img-menu{
                    width: 20%;
                }
                article {
                    text-align: left;
                    padding: 50px 90px 0 90px;
                    .col-md-3 {
                        .verlay {
                            padding: 5px;
                            box-shadow: 0 0 5px #ccc;
                            img {
                                width: 100%;
                            }
                        }
                    }
                    .col-md-9 {
                        .nine_columns {
                            h1 {
                                background: none;
                                font-family: myFirstFont;
                                margin-top: 0;
                                text-transform: none;
                                font-size: 24px;
                                font-weight: bold;
                                span {
                                    font-weight: 100;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    /////reponsive
    @media ( max-width: 768px) {
        #content {
            .container {
                padding: 0 15px;
                .title_line {
                    padding: 25px 0 130px 0;
                    h1{
                        img{
                            display: none;
                        }
                    }
                    .img-menu{
                        width: 100%;
                    }

                    .verlay{
                        width: 60%;
                        margin: auto;
                    }
                    article {
                        padding: 30px 20px 30px 20px;
                        .nine_columns {
                            margin-top: 30px;
                            h1 {
                                text-align: center;
                                span {
                                    width: 100%;
                                    text-align: center;
                                    margin: 0px;
                                }
                            }
                            p{
                                text-align: center;
                            }
                        }
                    }
                }
            }
        }
    }
}
