@mixin bg_url($url) {
    background: $url;
    padding: 25px 0 25px 0;
    position: relative;
    h1 {
        font-family: myFirstFont;
        color: #fff;
        font-size: 60px;
        width: 100%;
        text-align: center;
        font-weight: 900;
    }
}