<div class="gallery">
    <div class="x-main full" role="main">
        <article id="post-68" class="post-68 page type-page status-publish hentry no-post-thumbnail">
            <div class="entry-content content">
                <div id="x-section-1" class="x-section bg-image" data-x-element="section" data-x-params="{&quot;type&quot;:&quot;image&quot;,&quot;parallax&quot;:false}">
                    <div class="x-container">
                        <div class="x-column x-sm x-1-1">
                            <h1 class="h-custom-headline  man h2"><span translate="gallery.headline"></span></h1>
                            <div class="x-raw-content mts">
                                <p class="man" translate="gallery.sub_headline"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="list-img">
                    <div ng-repeat="image in restaurant.getGallery()" class="{{ ($index < 2) ? 'first' : ($index < 5) ? 'second' : '' }}">
                        <a ng-href="{{ image.getFullsize() }}" class="fresco" data-fresco-caption="{{ restaurant.getTitle() }} - weeloy.com" data-fresco-group="restau">
                        <div class="col-xs-6 col-md-4">
                            <img src="{{asset('images/gallery.png')}}" alt="" style="background-image:url('{{ image.getThumbnail() }}'); background-position: 50% 50%; background-size:cover; width:100%; ">
                        </div>
                        </a>
                    </div>
                </div>
            </div>
        </article>
    </div>
</div>
