<div id="create-new-language">
    <form name="CreateForm" ng-submit="CreateForm.$valid && submit(name, language)">
        <div class="form-group">
            <label>Language name</label>
            <div class="input-group">
                <input type="text" class="form-control" ng-model="name" name="name" aria-describedby="basic-addon2" ng-trim="false" ng-pattern="/^[a-z]*$/" required>
                <span class="input-group-addon" id="basic-addon2">.json</span>
            </div>
            <div class="error">
            	<span ng-show="CreateForm.name.$error.pattern">Please enter a-z only</span>
            </div>
        </div>
        <div class="form-group">
            <edit-language-file data="language"></edit-language-file>
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Save">
        </div>
    </form>
</div>
