<div class="panel-heading" role="tab" id="headingOne">
    <h4 class="panel-title">
        <p ng-click="collapse(customizeItemId)" ng-bind="customizeItem.getTitle()"></p>
    </h4>
</div>
<div id="customize-item-{{customizeItemId}}" class="panel-collapse collapse" aria-expanded="false" role="tabpanel">
    <div class="panel-body">
        <!-- Type: text -->
        <div class="customize-attribute" ng-repeat="(k, value) in customizeItem.variables">
            <div ng-if="value.type == 'text'" class="form-group">
                <label ng-bind="value.title"></label>
                <input type="text" class="form-control" ng-model="value.data">
            </div>
            <!-- Type: image -->
            <div ng-if="value.type == 'image'" class="form-group">
                <label ng-bind="value.title"></label>
                <div class="form-group">
                    <div class="btn btn-default" ngf-select="upload($file, customizeItem, k)">Choose File</div>
                    <div class="btn btn-default" ng-click="default(customizeItem, k)">Default</div>
                    <div class="btn btn-default" ng-click="none(customizeItem, k)">None</div>
                </div>
                <div class="form-group" ng-show="value.data != ''">
                    <img ng-src="{{value.data}}" ng-show="value.data != 'none'" class="img-responsive" alt="">
                    <div ng-show="value.data == 'none'" class="text-center">
                        <span style="font-size: 40px" class="glyphicon glyphicon-ban-circle"></span>
                    </div>
                </div>
                <div class="progress" ng-show="progressPercent | showProgressBar">
                    <div class="progress-bar" role="progressbar" aria-valuenow="{{progressPercent}}" aria-valuemin="0" aria-valuemax="100" style="width:{{progressPercent}}%">
                        <span class="sr-only">{{progressPercent}}% Complete</span>
                    </div>
                </div>
            </div>
            <!-- Type: Select -->
            <div ng-if="value.type == 'select'" class="form-group">
                <label ng-bind="value.title"></label>
                <select class="form-control" ng-model="value.data" ng-options="item.data as item.name for item in value.data_available"></select>
            </div>
        </div>
        <div class="form-group">
            <button class="btn btn-default pull-right" ng-click="cancel(customizeItemId)">Cancel</button>
            <button class="btn btn-default pull-right" ng-click="update(customizeItemId, customizeItem)" style="margin-right: 5px;">Save</button>
        </div>
    </div>
</div>
