<div id="login">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
        <h2>Login</h2>
        <form method="POST" ng-submit="login(user)">
            <div class="form-group">
                <label>Email</label>
                <input type="email" ng-model="user.email" class="form-control" required>
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" ng-model="user.password" class="form-control" required>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Login">
            </div>
        </form>
    </div>
</div>
