<div class="slider" ng-show="pages.homepage.isEnableSection('slider')">
    <!-- <img ng-src="{{ restaurant.getBannerImage() }}" alt="" class="img-responsive"> -->
    <div id="home-slider" class="carousel slide" data-ride="carousel">
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item" ng-repeat="image in restaurant.getGallery()" ng-class="{'active':$first}">
                <img ng-src="{{asset('images/slider.png')}}" alt="{{ restaurant.getTitle() }}" style="width: 100%; background-image:url('{{ image.getFullsize() }}'); background-position: 50% 50%; background-size: cover">
                <div class="carousel-caption">
                </div>
            </div>
        </div>
        <!-- Controls -->
        <a class="left carousel-control" ng-click="SliderControl('prev')" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" ng-click="SliderControl('next')" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<div class="x-main full" role="main" id="home">
    <article id="post-165" class="post-165 page type-page status-publish hentry no-post-thumbnail">
        <div class="entry-content content">
            <div id="x-section-1">
                <div class="x-container max width">
                    <div class="x-column x-sm x-1-1" ng-show="pages.homepage.isEnableSection('open_hours')">
                        <h2 class="h-custom-headline center-text man h3 accent"><span>Open 7 Days a Week.</span></h2>
                        <div class="x-raw-content hours home">
                            <table>
                                <tr class="open-hours">
                                    <td class="open-hours-day">Day</td>
                                    <td class="open-hours-lunch">Lunch</td>
                                    <td class="open-hours-dinner">Dinner</td>
                                </tr>
                                <tr class="open-hours" ng-repeat="item in restaurant.openhours">
                                    <td class="open-hours-day" ng-bind="item.getDay()"></td>
                                    <td class="open-hours-lunch" ng-bind="item.getLunch()"></td>
                                    <td class="open-hours-dinner" ng-bind="item.getDinner()"></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div id="x-section-2" class="x-section center-text bg-image" ng-show="pages.homepage.isEnableSection('book_button')">
                <div class="x-container max width">
                    <div class="x-column x-sm x-1-1">
                        <h1 class="h-custom-headline  man h2">
                            <span translate="homepage.book_now_title"></span>
                        </h1>
                        <a class="x-btn x-btn-large" ui-sref="book" title="{{ restaurant.book_button.text }}" ng-bind="restaurant.book_button.text"></a>
                    </div>
                </div>
            </div>
            <div id="x-section-4" class="x-section" ng-show="pages.homepage.isEnableSection('events')">
                <div class="x-container center-text  max width">
                    <div class="x-column x-sm x-1-1">
                        <h2 class="h-custom-headline center-text man h3 accent"><span translate="homepage.events_title" translate-values="{restaurant: restaurant}"></span></h2>
                        <div class="x-raw-content mts">
                            <p class="man" translate="homepage.events_title_description"></p>
                        </div>
                    </div>
                </div>
                <div class="x-container max width">
                    <div class="col-xs-12 col-md-6 event" ng-repeat="event in events">
                        <div restaurant-event event="event"></div>
                    </div>
                </div>
            </div>
            <div id="x-section-5" class="x-section" ng-show="pages.homepage.isEnableSection('lasest_news')">
                <div class="x-container center-text  max width">
                    <div class="x-column x-sm x-1-1">
                        <h2 class="h-custom-headline  man h3 accent"><span>Latest News</span></h2>
                        <div class="x-raw-content mts">
                            <p class="man">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque pretium, nisi ut volutpat mollis, leo risus interdum arcu, eget facilisis quam felis id mauris.</p>
                        </div>
                    </div>
                </div>
                <div class="x-container max width">
                    <div class="x-column x-sm x-1-1">
                        <div class="x-recent-posts cf man horizontal" data-x-element="recent_posts" data-x-params="{&quot;fade&quot;:false}" data-fade="false">
                            <a class="x-recent-post3 with-image" href="#" title="Permalink to: &quot;Sushi Newbies: Here’s our Sushi 101 Guide&quot;">
                                <article id="post-8" class="post-8 post type-post status-publish format-standard has-post-thumbnail hentry category-blog">
                                    <div class="entry-wrap">
                                        <div class="x-recent-posts-img" style="background-image: url('{{asset('images/featured-blog-04-1200x688.jpg')}}');"></div>
                                        <div class="x-recent-posts-content">
                                            <h3 class="h-recent-posts">Sushi Newbies: Here’s our Sushi 101 Guide</h3><span class="x-recent-posts-date">May 11, 2015</span></div>
                                    </div>
                                </article>
                            </a>
                            <a class="x-recent-post3 with-image" href="#" title="Permalink to: &quot;Watch Our Top Chef In Action&quot;">
                                <article id="post-10" class="post-10 post type-post status-publish format-standard has-post-thumbnail hentry category-blog">
                                    <div class="entry-wrap">
                                        <div class="x-recent-posts-img" style="background-image: url('{{asset('images/featured-blog-03-1200x688.jpg')}}');"></div>
                                        <div class="x-recent-posts-content">
                                            <h3 class="h-recent-posts">Watch Our Top Chef In Action</h3><span class="x-recent-posts-date">May 10, 2015</span>
                                        </div>
                                    </div>
                                </article>
                            </a>
                            <a class="x-recent-post3 with-image" href="#" title="Permalink to: &quot;Awesome Wine Pairings&quot;">
                                <article id="post-12" class="post-12 post type-post status-publish format-standard has-post-thumbnail hentry category-blog">
                                    <div class="entry-wrap">
                                        <div class="x-recent-posts-img" style="background-image: url('{{asset('images/featured-blog-02-1200x688.jpg')}}');"></div>
                                        <div class="x-recent-posts-content">
                                            <h3 class="h-recent-posts">Awesome Wine Pairings</h3><span class="x-recent-posts-date">May 9, 2015</span></div>
                                    </div>
                                </article>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</div>
