<div id="homepage">
    <div class="slider" ng-show="pages.homepage.isEnableSection('slider')">
        <!-- <img ng-src="{{ restaurant.getBannerImage() }}" alt="" class="img-responsive"> -->
        <div id="home-slider" class="carousel slide" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item" ng-repeat="image in restaurant.getGallery()" ng-class="{'active':$first}">
                    <img ng-src="{{asset('images/slider.png')}}" alt="{{ restaurant.getTitle() }}" style="width: 100%; background-image:url('{{ image.getFullsize() }}'); background-position: 50% 50%; background-size: cover">
                </div>
            </div>
            <!-- Controls -->
            <a class="left carousel-control" role="button" data-slide="prev" ng-click="SliderControl('prev')">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" role="button" data-slide="next" ng-click="SliderControl('next')">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>
<div class="main">
    <!-- main -->
    <div class="container home-img">
        <div class="flexslider" ng-if="pages.homepage.isEnableSection('testimonial')">
            <div class="home-widget">
                <ul class="slider" testimonial>
                    <li class="">
                        <p translate="homepage.testimonial_1"></p>
                        <p class="testimonial_author" translate="homepage.testimonial_author_1"></p class="testimonial_author">
                    </li>
                    <li class="">
                        <p translate="homepage.testimonial_2"></p>
                        <p class="testimonial_author" translate="homepage.testimonial_author_2"></p class="testimonial_author">
                    </li>
                </ul>
            </div>
        </div>
        <div class="list_menu" ng-show="pages.homepage.isEnableSection('explore_menu')">
            <div class="col-md-12">
                <div class=" col-xs-12 col-sm-4 col-md-4">
                    <div class="list_menu">
                        <div class="list_menu_img">
                            <a ui-sref="menu">
                                <img ng-src="{{ asset('images/homepage_menu.png') }}" alt="">
                                <div class="list_menu_icon"></div>
                            </a>
                        </div>
                        <div class="block-title">
                            <h3><a ui-sref="menu" translate="homepage.explore_our_menu"></a></h3>
                        </div>
                    </div>
                </div>
                <div class=" col-xs-12 col-sm-4 col-md-4">
                    <div class="list_menu">
                        <div class="list_menu_img">
                            <a ui-sref="about">
                                <img ng-src="{{ asset('images/homepage_menu.png') }}" alt="">
                                <div class="list_menu_icon"></div>
                            </a>
                        </div>
                        <div class="block-title">
                            <h3><a ui-sref="chef" translate="homepage.meet_the_chef"></a></h3>
                        </div>
                    </div>
                </div>
                <div class=" col-xs-12 col-sm-4 col-md-4">
                    <div class="list_menu">
                        <div class="list_menu_img">
                            <a ui-sref="gallery">
                                <img ng-src="{{ asset('images/homepage_menu.png') }}" alt="">
                                <div class="list_menu_icon"></div>
                            </a>
                        </div>
                        <div class="block-title">
                            <h3><a ui-sref="gallery" translate="homepage.gallery"></a></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end Main -->
</div>
