<div id="update-password">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4">
        <h2>Update password</h2>
        <form method="POST" name="UpdatePasswordForm" ng-submit="new_password == repeat_password && UpdatePasswordForm.$valid && update(old_password, new_password)" novalidate>
            <div class="form-group">
                <label>Old password</label>
                <input type="password" class="form-control" name="old_password" ng-model="old_password" required>
                <div class="error">
                    <span ng-show="UpdatePasswordForm.$submitted && UpdatePasswordForm.old_password.$error.required">Please enter current password</span>
                </div>
            </div>
            <div class="form-group">
                <label>New password</label>
                <input type="password" class="form-control" name="new_password" ng-model="new_password" required>
                <div class="error">
                    <span ng-show="UpdatePasswordForm.$submitted && UpdatePasswordForm.new_password.$error.required">Please enter new password</span>
                </div>
            </div>
            <div class="form-group">
                <label>Repeat password</label>
                <input type="password" class="form-control" name="repeat_password" ng-model="repeat_password" required>
                <div class="error">
                    <span ng-show="UpdatePasswordForm.$submitted && UpdatePasswordForm.repeat_password.$error.required">Please repeat new password</span>
                    <span ng-show="UpdatePasswordForm.$submitted && new_password != repeat_password">repeat password does not match</span>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-default" value="Update" required>
            </div>
        </form>
    </div>
</div>
