<div id="book">
    <div class="container">
        <div class="col-xs-12">
            <div class="text-center">
                <book-iframe restaurant="restaurant"></book-iframe>
            </div>
        </div>
    </div>
</div>
